<h1>Welcome#index</h1>
<%= link_to 'My Blog', articles_path %> <!-- sería igual controller: 'articles' en vez de articles_path, porque al ponerle  le estoy diciendo vaya al controlador y busque articles-->
